{
  "openapi": "3.0.3",
  "info": {
    "title": "ChainUp Cloud Staking Aggregator",
    "description": "This is ChainUp Staking Aggregator API documentation. Users can use this API to integrate one click staking into their application. It is the easiest way for developers to stake Ethereum. Simply pass in the desired amount to stake, and the API will return the serialized transactions needed to execute the staking, which can then be passed into the blockchain with the required signatures. \n\n_“A world-leading blockchain technology service all-in-one solution suite.”_\n\n_Founded in 2017 and headquartered in Singapore, ChainUp is a leader in blockchain technology and crypto ecosystem solutions. We have continued to enhance a number of maturing products such as digital asset trading systems, fiat on-ramp, wallet, security, mining, digital assets custody, investment, and NFTs. We have built an end-to-end closed industrial loop of technical services, innovative research and development, and traffic-commercialization. At present, ChainUp has provided blockchain technology services to 1000+ clients in both crypto/blockchain and traditional industries in more than 30 countries and regions with coverage of over 60 million users._\n\n\nSome useful links:\n- [ChainUp Cloud](https://www.chainupcloud.com/)\n- [ChainUp Cloud Documentation](https://docs.chainupcloud.com/)",
    "termsOfService": "https://www.chainup.com/en-US/privacyPolicy",
    "contact": {
      "email": "sales@ChainUp.com"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about ChainUp",
    "url": "https://www.chainup.com/en-US/"
  },
  "servers": [
    {
      "url": "https://staking.chainupcloud.com/aggregator/api/v1/"
    },
    {
      "url": "https://staking.chainupcloud.com/aggregator/api/v1/ropsten/"
    },
    {
      "url": "https://staking.chainupcloud.com/aggregator/api/v1/goerli/"
    }
  ],
  "tags": [
    {
      "name": "quote",
      "description": "Quote the different staking strategies (routes)"
    },
    {
      "name": "address",
      "description": "Query the staking information on an address"
    },
    {
      "name": "nft",
      "description": "nft operation"
    }
  ],
  "paths": {
    "/quote/stake": {
      "post": {
        "tags": [
          "quote"
        ],
        "summary": "Returns a stake transaction",
        "description": "Create a transaction that stakes ETH. https://docs.metamask.io/guide/sending-transactions.html",
        "operationId": "stake",
        "requestBody": {
          "description": "Create a new pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StakeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stake"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Stake"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/quote/unstake": {
      "post": {
        "tags": [
          "quote"
        ],
        "summary": "Returns a unstake transaction, Not supported now until Shanghai upgrade",
        "description": "Reserved, not available until Shanghai upgrade",
        "operationId": "unstake",
        "requestBody": {
          "description": "Create a new pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tx"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tx"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/quote/routes": {
      "get": {
        "tags": [
          "quote"
        ],
        "summary": "Returns multiple staking transactions",
        "description": "Returns an array of staking strategies",
        "operationId": "getRoutes",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "query source.",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "xxx"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The amount of ETH to stake (in uint256).",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "example": "32000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Strategy"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Strategy"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/address/balance": {
      "get": {
        "tags": [
          "address"
        ],
        "summary": "Staking balance of a particular address",
        "description": "Returns an object containing ETH balances of a particular address",
        "operationId": "balance",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address to query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0x2f318C334780961FB129D2a6c30D0763d9a5C970"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stakepool"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stakepool"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/address/validator": {
      "get": {
        "tags": [
          "address"
        ],
        "summary": "Get the validator information under the address",
        "description": "Returns an object containing the ETH balance and validator pubkey for a specific address",
        "operationId": "validator",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address to query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0x2f318C334780961FB129D2a6c30D0763d9a5C970"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Eth32node"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Eth32node"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/nft/list": {
      "post": {
        "tags": [
          "nft"
        ],
        "summary": "list validators nft",
        "description": "Users can opt out of validators early with a discounted price",
        "operationId": "sell",
        "requestBody": {
          "description": "Create a new pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuccessResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuccessResponse"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/nft/cancel_listing": {
      "post": {
        "tags": [
          "nft"
        ],
        "summary": "Cancel listing of validators nft",
        "description": "Cancel the sale of validators",
        "operationId": "cancel_sell",
        "requestBody": {
          "description": "Create a new pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuccessResponse"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SuccessResponse"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/nft/listings": {
      "get": {
        "tags": [
          "nft"
        ],
        "summary": "Get a list of validator orders in sale",
        "description": "Get a list of validator orders in sale",
        "operationId": "orders",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/nft/buy": {
      "post": {
        "tags": [
          "nft"
        ],
        "summary": "Buy a validator nft",
        "description": "Buy a validator nft",
        "operationId": "buy",
        "requestBody": {
          "description": "Create a new pet in the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Buy"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Buy"
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StakeRequest": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "example": "xxx"
          },
          "strategy_id": {
            "type": "string",
            "example": "32x"
          },
          "address": {
            "type": "string",
            "example": "0xf5ade6b61ba60b8b82566af0dfca982169a470dc"
          },
          "amount": {
            "type": "string",
            "example": "32000000000000000000"
          },
          "block_height": {
            "type": "string",
            "example": "12915519"
          },
          "signature": {
            "type": "string",
            "example": "90df2cb55527aaaa7d04692bd2498f363f67d383b326e193bb753f9c2fc35ee64a74a663dcb5ec977642233c592884fa0fb5bbbd00f54745bd8388f12e25cbe342fc5238d612700deb76123f1f31f0ea376876c20954526b95a0ee43ccf36e47"
          }
        }
      },
      "ListRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "0xf5ade6b61ba60b8b82566af0dfca982169a470dc"
          },
          "token_id": {
            "type": "string",
            "example": "1"
          },
          "rebate": {
            "type": "string",
            "example": "32000000000000000000"
          },
          "block_height": {
            "type": "string",
            "example": "12915519"
          },
          "nonce": {
            "type": "string",
            "example": "1"
          },
          "signature": {
            "type": "string",
            "example": "90df2cb55527aaaa7d04692bd2498f363f67d383b326e193bb753f9c2fc35ee64a74a663dcb5ec977642233c592884fa0fb5bbbd00f54745bd8388f12e25cbe342fc5238d612700deb76123f1f31f0ea376876c20954526b95a0ee43ccf36e47"
          }
        }
      },
      "CancelListingRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "0xf5ade6b61ba60b8b82566af0dfca982169a470dc"
          },
          "token_ids": {
            "type": "string",
            "example": "1"
          },
          "block_height": {
            "type": "string",
            "example": "12915519"
          },
          "signature": {
            "type": "string",
            "example": "90df2cb55527aaaa7d04692bd2498f363f67d383b326e193bb753f9c2fc35ee64a74a663dcb5ec977642233c592884fa0fb5bbbd00f54745bd8388f12e25cbe342fc5238d612700deb76123f1f31f0ea376876c20954526b95a0ee43ccf36e47"
          }
        }
      },
      "BuyRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "0xf5ade6b61ba60b8b82566af0dfca982169a470dc"
          },
          "token_ids": {
            "type": "string",
            "example": "1"
          },
          "block_height": {
            "type": "string",
            "example": "12915519"
          },
          "signature": {
            "type": "string",
            "example": "90df2cb55527aaaa7d04692bd2498f363f67d383b326e193bb753f9c2fc35ee64a74a663dcb5ec977642233c592884fa0fb5bbbd00f54745bd8388f12e25cbe342fc5238d612700deb76123f1f31f0ea376876c20954526b95a0ee43ccf36e47"
          }
        }
      },
      "Tx": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "example": "0x0000000000000000000000000000000000000000"
          },
          "value": {
            "type": "string",
            "example": "0x00"
          },
          "data": {
            "type": "string",
            "example": "0x7299e0e60000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000140011c000000000000000000000000000092a14b12a4231e94507f969e367f6ee0eaf93a9ba3b82e8ab2598c8e36f3cd932d5a446a528bf3df636ed8bb3d1cfde901000000000000000000000000dfaae92ed72a05bc61262aa164f38b5626e1068c9270550945d18f6500e11d0db074d52408cde8a3a30108c8e341ba6e0b92a4d82efb24097dc808313a0145ba096e0c16455aa1c3a7a1019ae34ddf540d9fa121e498c43f757bc6f4105fe31dd5ea8d67483ab435e5a371874dddffa5e65b582c6181bcae0df24f047332b10657ee75faa7c42657b6577d7efac6672376bc330000000000000000000000000000000000000000000000000000000000c5115a582e418d86cf438b23f82f8fdb3803b7d6ecdceaf58f7d7625f11344e8fd320089d9392496b0e7bae45de1fb535e659a71c01f28207948d2db4b4f74265bf618"
          },
          "chainId": {
            "type": "number",
            "example": 3
          }
        },
        "xml": {
          "name": "tx"
        }
      },
      "Stake": {
        "type": "object",
        "properties": {
          "strategyId": {
            "type": "string",
            "example": "32x"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ChainupPool"
            }
          },
          "weights": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "100%"
            }
          },
          "yieldsBreakdown": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5.7%"
            }
          },
          "totalYield": {
            "type": "string",
            "example": "5.7%"
          },
          "expired_block": {
            "type": "number",
            "example": 12915519
          },
          "receive": {
            "type": "string",
            "example": "1 NFT"
          },
          "gas_reward": {
            "type": "string",
            "example": "100000000000000"
          },
          "gas_reward_usd": {
            "type": "string",
            "example": "30.587"
          },
          "transaction": {
            "$ref": "#/components/schemas/Tx"
          }
        }
      },
      "Buy": {
        "type": "object",
        "properties": {
          "buy_info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BuyInfo"
            }
          },
          "expired_block": {
            "type": "number",
            "example": 12915519
          },
          "transaction": {
            "$ref": "#/components/schemas/Tx"
          }
        }
      },
      "BuyInfo": {
        "type": "object",
        "properties": {
          "token_id": {
            "type": "string",
            "example": "1"
          },
          "rebate": {
            "type": "string",
            "example": "1000000000000000000"
          },
          "price": {
            "type": "string",
            "example": "33000000000000000000"
          }
        }
      },
      "Strategy": {
        "type": "object",
        "properties": {
          "strategyId": {
            "type": "string",
            "example": "32x"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "ChainupPool"
            }
          },
          "weights": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "100%"
            }
          },
          "yieldsBreakdown": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "5.7%"
            }
          },
          "totalYield": {
            "type": "string",
            "example": "5.7%"
          },
          "best": {
            "type": "boolean",
            "example": true
          },
          "desc": {
            "type": "string",
            "example": "Stake 32 ETH to get a validator"
          }
        },
        "xml": {
          "name": "strategy"
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "nft": {
            "type": "string",
            "example": "2 NFT"
          },
          "token_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "1"
            }
          },
          "gas_reward": {
            "type": "string",
            "example": "100000000000000"
          },
          "gas_reward_usd": {
            "type": "string",
            "example": "567.32"
          },
          "amount": {
            "type": "string",
            "example": "0.567"
          },
          "denomination": {
            "type": "string",
            "example": "Eth"
          }
        },
        "xml": {
          "name": "balance"
        }
      },
      "Stakepool": {
        "type": "object",
        "properties": {
          "pool": {
            "type": "string",
            "example": "Chain Up Pool"
          },
          "balances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Balance"
            }
          }
        },
        "xml": {
          "name": "stakepool"
        }
      },
      "Eth32node": {
        "type": "object",
        "properties": {
          "token_id": {
            "type": "number",
            "example": 3
          },
          "pubkey": {
            "type": "string",
            "example": "ad28d4ce9afdac1584e4ce9440b7e1a9dc4a8c5f4bc8c66883723647fce77e42fe7898615a7af1e4971cd7a08403e349"
          },
          "balance": {
            "type": "string",
            "example": "35567000000000000000"
          },
          "gas_reward": {
            "type": "string",
            "example": "5400000000000"
          },
          "gas_reward_usd": {
            "type": "string",
            "example": "34.615"
          },
          "status": {
            "type": "string",
            "example": "active or pending or selling"
          },
          "rebate": {
            "type": "string",
            "example": "1000000000000000000"
          }
        },
        "xml": {
          "name": "eth32node"
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "example": 200
          },
          "msg": {
            "type": "string",
            "example": "success"
          }
        },
        "xml": {
          "name": "successResponse"
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "token_id": {
            "type": "string",
            "example": "55"
          },
          "owner": {
            "type": "string",
            "example": "0xD0d76886cF8D952ca26177EB7CfDf83bad08C00C"
          },
          "pubkey": {
            "type": "string",
            "example": "0x867942b357b5fb5194b5443de84d63fe8d80424245d6405da39a8fab9970ce09456b3abb998ec99ebc266f6657f67cc1"
          },
          "rebate": {
            "type": "string",
            "example": "100000000"
          },
          "value": {
            "type": "string",
            "example": "32400000000"
          }
        },
        "xml": {
          "name": "order"
        }
      }
    },
    "parameters": {
      "Pagelength": {
        "name": "pagelength",
        "in": "query",
        "description": "Number of records to return",
        "schema": {
          "type": "number"
        }
      },
      "Startindex": {
        "name": "startindex",
        "in": "query",
        "description": "Start index for paging",
        "schema": {
          "type": "number"
        }
      }
    }
  }
}
